.navbar-header {
    min-height: 90px;
}
.navbar-default {
    background-color: rgb(13,77,148);
    border-color: rgb(13,77,148);
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:hover {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: rgb(13,77,148);
}

.navbar-brand img{
	position:absolute;
	top: 0;
	left: 0;
	max-height: 100%;
}

@media (max-width: 768px){
	.navbar-brand img{
		max-height: 90px;
	}
}

.body {
    padding-top: 25px;
}