<div class="modal-header">
    <h3 class="modal-title">{{confirmTitle}}</h3>
</div>
<div class="modal-body">
    {{confirmMsg}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close(true)">Aceptar</button>
    <button class="btn btn-warning" type="button" ng-click="$dismiss(false)">Cancel</button>
</div>