	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home.listado"><img ng-src="{{ logo }}">{{ !logo && empresa || '' }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="home.nuevo">Nuevo Legajo</a></li>
            <li><a ui-sref="home.listado">Listado</a></li>
            <li><a ng-click="logout()" href="">Salir</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>