<div class="container">
	<h2>Listado de Legajos <button class="btn btn-success pull-right" ng-click="nuevo()"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo Legajo</button><button class="btn btn-primary pull-right" ng-click="export()"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Exportar</button></h2>
	<div class="row" ng-show="showDate">
		<div class="col-lg-12">
			<form class="form-inline form-fechas">
			  <div class="form-group">
			    <label >Fecha Inicio</label>
			    <p class="input-group">
		          <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="fechad" datepicker-options="dateOptionsD" close-text="Close" is-open="ctrlFechad.opened" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="ctrlFechad.open()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </p>
			  </div>
			  <div class="form-group">
			    <label >Fecha Fin</label>
			    <p class="input-group">
		          <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="fechah" datepicker-options="dateOptionsH" close-text="Close" is-open="ctrlFechah.opened" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="ctrlFechah.open()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </p>
			  </div>
			  <button type="submit" class="btn btn-primary" ng-click="search()">Filtra por fechas</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<table datatable="" dt-options="bsTable.dtOptions" dt-columns="bsTable.dtColumns"  dt-instance="bsTable.dtInstance" class="table table-bordered table-hover"></table>
		</div>
	</div>
</div>