<div class="container">
	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			<form class="form-signin">
				<h2 class="form-signin-heading">Acceso a cuenta</h2>
				<label for="inputEmail" class="sr-only">Documento</label>
				<input type="text" id="inputEmail" class="form-control" placeholder="usuario" required="" autofocus="" ng-model="user.username">
				<label for="inputPassword" class="sr-only">Contraseña</label>
				<input type="password" id="inputPassword" class="form-control" placeholder="Clave" required="" ng-model="user.password">
				<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()" ng-disabled="loading"><i class="fa fa-spinner fa-spin" ng-show="loading"></i>{{ loading && 'Accediendo' || 'Entrar'  }} </button>
				<div class="alert alert-danger alert-dismissible" role="alert" ng-show="errormsj">
				  <button type="button" class="close" aria-label="Close" ng-click="errormsj = ''"><span aria-hidden="true">&times;</span></button>
				  <strong>Error!</strong> {{errormsj}}
				</div>
			</form>                  
		</div>
		<div class="col-lg-4"></div>
	</div>
</div>