<div class="container">
	<h2>Cargar Legajo</h2>
	<div class="row">
		<form>
		<div class="col-lg-4">
			  <div class="form-group" ng-repeat="meta in metas">
			    <label for="">{{meta.label}}</label>
			    <input type="text" class="form-control" id="" placeholder="{{meta.label}}" ng-model="upload[meta.key]">
			  </div>
		</div>
		<div class="col-lg-4">
		  <div class="form-group">
		    <label for="exampleInputFile">Legajo</label>
		    <div>
			    <span class="btn btn-primary btn-file">
				    Subir Imagen... <input type="file" id="exampleInputFile" file-model="upload.file">
				</span>
			</div>
		    <p class="help-block">{{ upload.file && upload.file.name}}</p>
		  </div>
		  <button type="submit" class="btn btn-success" ng-click="cargar()" ng-disabled="loading">{{ loading && 'Cargando' || 'Cargar' }}</button>
		  	
		</div>
		</form>
	</div>
	<div class="row">
		<div  class="col-lg-12">
			<div class="alert alert-danger alert-dismissible" role="alert" ng-show="errormsj">
			  <button type="button" class="close" aria-label="Close" ng-click="errormsj = ''"><span aria-hidden="true">&times;</span></button>
			  <strong>Error!</strong> {{errormsj}}
			</div>
		</div>
	</div>
</div>
